
@{
    ViewBag.Title = "ListUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />


<head>
    <title>User Information and Form</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/user-form.css" />

    <!-- DATA TABLE -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <script type="text/javascript">
        $(document).ready(function () {
            //Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
            $('#userList').DataTable();
        });
    </script>
</head>



<!--Sidebar inicio-->
<div class="sidebar">
    <center>
        <img src="https://images.vexels.com/media/users/3/131263/isolated/preview/af6816ec67ec51da6b275a4aa08d236c-icono-de-c-iacute-rculo-de-bloqueo-by-vexels.png" id="usuario" />
        <h4>Administración</h4>
    </center>
    <a href="/Admin/ListUser"> <i class="fas fa-users"></i> <span> Listado </span> </a>
    <a href="/Admin/Add"> <i class="fas fa-plus-square mr-1"></i> <span>   Añadir </span> </a>
    <a href="#"> <i class="fas fa-info-circle"></i> <span> Información </span> </a>
    <a href="#"> <i class="fas fa-cog"></i> <span> Opciones </span> </a>
    <a href="#"> <i class="fas fa-sign-out-alt"></i> <span> Cerrar Sesión </span> </a>
</div>
<!--Sidebar final-->


<body>
    <div class="content">
        <div class="¿   ">
            <h2 class="text-center mb-4 card-header">Listado de usuarios</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <table class="table-secondary table-bordered border-primary mx-auto col-lg-12 main-section">
                    <thead class="table-dark">
                        <tr class="text-center">
                            <th scope="">Nro</th>
                            <th scope="">Nombre</th>
                            <th scope="">Apellido</th>
                            <th scope="">Email</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <th scope="row">1</th>
                            <td>Joel</td>
                            <td>Yantorno</td>
                            <td>joel@gmail.com</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Luis </td>
                            <td>Gerez</td>
                            <td>luis@gmail.com</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Patricio</td>
                            <td>Ruiz</td>
                            <td>pato@gmail.com</td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn btn-outline-primary float-end mt-4">
                    @Html.ActionLink("<<Volver al inicio", "Index")
                </div>

            }

        </div>

    </div>

</body>




<p>
    @ViewBag.userrol

</p>