@{
    ViewBag.Title = "About";
}




<!--


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

-->
&nbsp
&nbsp
&nbsp


<div class="container px-4 px-lg-5">

    @*<div class="col-md-10 blogShort">*@

    <h1>Analista de Sistemas</h1>
    &nbsp
    &nbsp

    <img src="https://i.ytimg.com/vi/NW48Q0zrmuk/maxresdefault.jpg" alt="post img" class="pull-left img-responsive postImg img-thumbnail margin10">
    &nbsp
    &nbsp
    <article>
        <h1>Perfil del Egresado</h1>
        &nbsp
        &nbsp
        <p>
            El Analista de Sistemas de Información es un profesional de sólida formación analítica que le permite la interpretación y resolución de problemas mediante el empleo de metodologías de sistemas y tecnologías de procesamiento de información. Está capacitado para:
            Relevar y analizar los procesos funcionales de una organización con la finalidad de diseñar sistemas de información asociados.Participar en el diseño, implementación y prueba de sistemas de información orientados hacia el procesamiento automático.
            Aprobar proyectos de desarrollo informáticos integrando equipos interdisciplinarios.
            Colaborar en los estudios de factibilidad técnica de la implementación de sistemas orientados hacia el procesamiento de datos.
            Colaborar en los estudios de factibilidad técnica referidos a la configuración y dimensionamiento de los sistemas de procesamiento de datos.
        </p>
        <h3>Objetivos de la carrera</h3>
        &nbsp
        &nbsp
        <p>
            Generales: formar profesionales capaces de planear, analizar, diseñar, implementar, programar y administrar sistemas de información apoyados en una sólida formación en conocimientos de Ingeniería, que le permita dar soluciones informáticas a las organizaciones.
        </p>

        <p>
            Específicos: ser una alternativa educativa e innovadora en el campo de los sistemas, capaz de utilizar la tecnología de la información y los sistemas de información mismos. Establecer y fortalecer el vínculo entre la Universidad y el Sector Productivo, que permite mejorar los procesos administrativos, productivos y de toma de decisiones. Desarrollar, administrar e implantar proyectos considerando el flujo de comunicación de la información y la administración del conocimiento
        </p>
        &nbsp
        <h2>Video Informativo</h2>
        &nbsp
        &nbsp
        &nbsp
        <br>
        &nbsp
        @*<iframe width="100%" height="480" src="//youtu.be/nhjgUYRD_Q4" frameborder="0" allowfullscreen></iframe>*@
        <iframe width="1015" height="500" src="https://www.youtube.com/embed/nhjgUYRD_Q4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        &nbsp
        &nbsp
        &nbsp

        <h1 class="mt-3">Estructura Curricular</h1>
        &nbsp
        <p>
            <h4>Primer Año</h4>
            &nbsp
            <ul style="list-style-type:square">
                <li>Álgebra y Geometría</li>
                <li>Arquitectura de Computadoras</li>
                <li>Algoritmos y Estructura de Datos</li>
                <li>Introducción al Análisis Matemático</li>
                <li>Programación I</li>
                <li>Sistemas de Información I</li>
                <li>Sistemas Operativos</li>

            </ul>

        </p>
        <p>
            <h4>Segundo Año</h4>
            &nbsp
            <ul style="list-style-type:square">
                <li>Bases de Datos</li>
                <li>Cálculo II</li>
                <li> Física I</li>
                <li>Inglés Técnico</li>
                <li>Probabilidad y Estadística I</li>
                <li>Sintaxis y Semántica de los Lenguajes</li>
                <li>Física II</li>
                <li>Planeamiento y Control de Gestión</li>
                <li> Probabilidad y Estadística II</li>
                <li>Programación II</li>
                <li>Sistemas de Información II</li>
            </ul>
        </p>
        <p>
            <h4>Tercer Año</h4>
            &nbsp


            <ul style="list-style-type:square">
                <li> Redes de Computadoras</li>
                <li>Análisis y Diseño de Sistemas I</li>
                <li> Elementos de Contabilidad</li>
                <li>Gestión Ambiental</li>
                <li>Programación III</li>
                <li> Elementos de Economía</li>
                <li>Diseño y Gestión de Internet</li>
                <li>Sistemas de Información III</li>
                <li> Práctica Profesional Supervisada</li>

            </ul>

        </p>



    </article>
    <footer class="page-footer font-small mdb-color lighten-3 pt-4" />

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mb-4">Superior La Paz</h5>

                <p>
                    Creado en el año 1996 por la Fundación Nuestra Señora de la Paz, con el objetivo de ofrecer a los jóvenes y adultos un espacio formativo.
                </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mb-4">Sobre nosotros</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="#!">PROJECTS</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">ABOUT US</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">BLOG</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">AWARDS</a>
                        </p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">&nbsp Contacto</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <i class="fas fa-home mr-3"></i> Av Piedrabuena 3585,CABA
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-envelope mr-3"></i>superiorlapaz@gmail.com
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-phone mr-3"></i>+ 54-4215-4589
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-print mr-3"></i>+ 54-11-8547-4589
                        </p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mb-4">REDES SOCIALES</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="#!">FACEBOOK</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">INSTAGRAM</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">YOUTUBE</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">BLOG</a>
                        </p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:</div>

</div>
<!-- Copyright -->
        </div>




</div>
