@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>


    <form id="form1" runat="server">
        <div>



            <body>
                <!-- Page Content-->
                <div class="container px-4 px-lg-5">
                   
                    <!-- Heading Row-->
                    <div class="row gx-4 gx-lg-5 align-items-center my-5">
                        <div class="col-lg-7">
                            <img class="d-block w-100" src="https://imagenesnoticias.canalrcn.com/ImgNoticias/emprendimiento.jpg" alt="..." />

                            <!--corrusel-->
                            <!---->

                        </div>
                        <div class="col-lg-5">
                            <h1 class="font-weight-light">Instituto Nuestra Señora de la Paz</h1>
                            <p>
                                Somos un Instituto de Educación Superior, creado en el año 1996 por la Fundación Nuestra Señora de la Paz, con el objetivo de ofrecer a los jóvenes y adultos un espacio formativo después del Nivel Secundario para que los capacite y los promueva integralmente dentro de la sociedad.


                            </p>
                            <a class="btn btn-primary" href="#!">Más información</a>
                        </div>
                    </div>
                    <!-- Call to Action-->
                    <div class="card text-white bg-secondary my-5 py-4 text-center">
                        <div class="card-body"><p class="text-white m-0"> <h3>"Compromiso académico para la formación integral de las personas"</h3></p></div>
                    </div>




                    <!--INICIO CARRERAS CON FOTOS-->
                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="font-weight-light">Analista de Sistemas</h2>
                            <p class="lead">
                                El Analista de sistemas de información  está capacitado para desempeñarse en forma autónoma o en relación de dependencia, como:

                                Miembro de departamentos de sistemas en organizaciones industriales, comerciales y de servicios.
                                Integrante de equipos de programación de sistemas de información y comunicación en cuanto a planificación, diseño y desarrollo de los mismos.
                                Desarrollador e implementador de sistemas informáticos computarizados.

                            </p>
                        </div>
                        <div class="col-md-5">
                            <img class="img-fluid rounded mb-4 mb-lg-0" src="https://st2.depositphotos.com/1643295/10839/i/600/depositphotos_108396532-stock-photo-smiling-software-engineer.jpg" alt="..." />

                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7 order-md-2">
                            <h2 class="font-weight-light">Administación de Empresas</h2>
                            <p class="lead">
                                El Técnico Superior en Administración de Empresas será competente para desempeñarse en forma autónoma o en relación de dependencia como:

                                Director y administrador de organizaciones empresariales.
                                Asesor en los procesos administrativos, económicos y contables.
                                Organizador de los diseños de los sistemas de información, evaluación y control de la gestión administrativa de todo tipo de entes.

                            </p>
                        </div>
                        <div class="col-md-5 order-md-1">

                            <img class="img-fluid rounded mb-4 mb-lg-0" src="https://www.nosequeestudiar.net/site/assets/files/1351049/diferencias-entre-contador-y-administracion-de-empresas_sd.jpg" alt="..." />




                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="font-weight-light">Profesorado de Inglés</h2>
                            <p class="lead">
                                El Profesor de Educación Superior en Inglés, podrá desempeñarse en el Nivel Inicial, Primario, Medio y Superior. Al finalizar su carrera, será capaz de:

                                Reconocer los conceptos y principios teóricos y prácticos que estructuran la educación inclusiva, en el ámbito nacional e internacional.
                                Contribuir a la construcción de escuelas como comunidades de aprendizaje que respeten, promuevan y valoren los logros de todos los estudiantes.


                            </p>
                        </div>
                        <div class="col-md-5">
                            <img class="img-fluid rounded mb-4 mb-lg-0" src="https://media.istockphoto.com/photos/english-teacher-standing-at-board-explaining-lesson-to-students-picture-id1288090078?b=1&k=6&m=1288090078&s=170667a&w=0&h=Qo3igGgdKyshgNjmBb5_O5rXx3urzhnwrx7fVSN4ubo=" alt="..." />

                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <!--FIN CARRERAS CON FOTOS-->
                    <!--INICIO CARRUSEL-->



                    <div class="container marketing">

                        <!-- Three columns of text below the carousel -->



                        <div <div class="container px-4 px-lg-5">

    <hr />
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://scontent-eze1-1.xx.fbcdn.net/v/t1.6435-9/106382702_3205613542836927_2520066205450824150_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=9267fe&_nc_eui2=AeHEPl39AfgnC78fHR2Ohov0G73q6A2TiQIbveroDZOJAi5nNgLneoKZfN3UoAjUce0&_nc_ohc=DKOn52E2ns8AX9-IKbB&_nc_ht=scontent-eze1-1.xx&oh=370fc36bce7f5e4f7c98cbc7120ce935&oe=60CD90C0" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://scontent-eze1-1.xx.fbcdn.net/v/t1.6435-9/106126507_3183375931727355_1791243118545865681_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=9267fe&_nc_eui2=AeHEKx7wKWBUHrCRlEQRGfMryHVbCjuZL8TIdVsKO5kvxJZpRdNkpXZ5SiYu8toRavM&_nc_ohc=D2hkB4dZieQAX-uGDXT&_nc_ht=scontent-eze1-1.xx&oh=a110554230c938a0ca5ff9bdb8b86577&oe=60D14C9E" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://scontent-eze1-1.xx.fbcdn.net/v/t1.6435-9/102458171_3166037723461176_2607699097205381113_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=9267fe&_nc_eui2=AeGPnwDgjf3HaKvqnOYKfaugpgm4x-ac11ymCbjH5pzXXAhfqI3sKCvBfWuG7G7TtEo&_nc_ohc=oxLZdj-KNZwAX8gEUcH&_nc_ht=scontent-eze1-1.xx&oh=3d3711c1e5e593f2d77abc4f47ab5bf6&oe=60D0E356" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev bg-dark" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next bg-dark" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!--FIN CARRUSEL-->







    <!--FIN CARRERAS REDONDO-->










    <!-- Footer -->



</div>


<!--FOOTER PRUEBA-->

            <!-- Footer -->



            
<!-- Footer -->
            <footer class="page-footer font-small mdb-color lighten-3 pt-4"/>

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
      <div class="row">

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mb-4">Superior La Paz</h5>

              <p>
                  Creado en el año 1996 por la Fundación Nuestra Señora de la Paz, con el objetivo de ofrecer a los jóvenes y adultos un espacio formativo.
              </p>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none">

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mb-4">Sobre nosotros</h5>

              <ul class="list-unstyled">
                  <li>
                      <p>
                          <a href="#!">PROJECTS</a>
                      </p>
                  </li>
                  <li>
                      <p>
                          <a href="#!">ABOUT US</a>
                      </p>
                  </li>
                  <li>
                      <p>
                          <a href="#!">BLOG</a>
                      </p>
                  </li>
                  <li>
                      <p>
                          <a href="#!">AWARDS</a>
                      </p>
                  </li>
              </ul>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none">

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

              <!-- Contact details -->
              <h5 class="font-weight-bold text-uppercase mb-4">&nbsp Contacto</h5>

              <ul class="list-unstyled">
                  <li>
                      <p>
                          <i class="fas fa-home mr-3"></i> Av Piedrabuena 3585,CABA
                      </p>
                  </li>
                  <li>
                      <p>
                          <i class="fas fa-envelope mr-3"></i>superiorlapaz@gmail.com
                      </p>
                  </li>
                  <li>
                      <p>
                          <i class="fas fa-phone mr-3"></i>+ 54-4215-4589
                      </p>
                  </li>
                  <li>
                      <p>
                          <i class="fas fa-print mr-3"></i>+ 54-11-8547-4589
                      </p>
                  </li>
              </ul>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none">

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mb-4">REDES SOCIALES</h5>

              <ul class="list-unstyled">
                  <li>
                      <p>
                          <a href="#!">FACEBOOK</a>
                      </p>
                  </li>
                  <li>
                      <p>
                          <a href="#!">INSTAGRAM</a>
                      </p>
                  </li>
                  <li>
                      <p>
                          <a href="#!">YOUTUBE</a>
                      </p>
                  </li>
                  <li>
                      <p>
                          <a href="#!">BLOG</a>
                      </p>
                  </li>
              </ul>

          </div>
          <!-- Grid column -->

      </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:</div>

  </div>
  <!-- Copyright -->








            



        </div>
    </form>
</body>


</html>
