
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add_user</title>
    <link href="~/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div> 
        @*ID*@
        <form method="post">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">ID</label>

                <div class="col-sm-9">
                    <input type="text" name="id" class="col-xs-10 col-sm-8" />

                </div>
            </div>

            @*NOMBRE*@

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Nombre</label>

                <div class="col-sm-9">
                    <input type="text" name="nombre" class="col-xs-10 col-sm-8" />

                </div>
            </div>

            @*EMAIL*@

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Email</label>

                <div class="col-sm-9">
                    <input type="text" name="email" class="col-xs-10 col-sm-8" />

                </div>
            </div>

            @*PASSWORD*@

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Password</label>

                <div class="col-sm-9">
                    <input type="text" name="password" class="col-xs-10 col-sm-8" />

                </div>
            </div>

            @*PASSWORD*@

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Fecha</label>

                <div class="col-sm-9">
                    <input type="text" name="fecha" class="col-xs-10 col-sm-8" />

                </div>
            </div>


            @*PASSWORD*@

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Id Rol</label>

                <div class="col-sm-9">
                    <input type="text" name="idRol" class="col-xs-10 col-sm-8" />

                </div>
            </div>


            @*PASSWORD*@

            <div class="form-group">
                
                <div class="col-sm-9">
                    <input type="submit" value="submit" class="btn btn-primary"/>

                </div>
            </div>
        </form>
    </div>
    @{ 
        if (TempData["msg"]!=null)
            {
                <script>alert('@TempData["msg"]')</script>
            }

    }
</body>
</html>
