@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1> &nbsp</h1>





<div class="container px-4 px-lg-5 float-center">

    @*<div class="col-md-10 blogShort">*@


    <h1>Acceso Denegado.</h1>

    <img src="https://manologo.files.wordpress.com/2017/05/acceso_denegado.jpg" alt="post img" class="pull-left img-responsive postImg img-thumbnail margin10">


    <button class="btn form-group">
        <h5>Para acceder al sistema haga click</h5>
        @Html.ActionLink("Aquí", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })
    </button>

 
    <h1> &nbsp</h1>
    <h1> &nbsp</h1>
    <h1> &nbsp</h1>
    <h2> &nbsp</h2>
    



    <div>









        <footer class="page-footer font-small mdb-color lighten-3 pt-4" />

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mb-4">Superior La Paz</h5>

                    <p>
                        Creado en el año 1996 por la Fundación Nuestra Señora de la Paz, con el objetivo de ofrecer a los jóvenes y adultos un espacio formativo.
                    </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mb-4">Sobre nosotros</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p>
                                <a href="#!">PROJECTS</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#!">ABOUT US</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#!">BLOG</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#!">AWARDS</a>
                            </p>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Contact details -->
                    <h5 class="font-weight-bold text-uppercase mb-4">&nbsp Contacto</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p>
                                <i class="fas fa-home mr-3"></i> Av Piedrabuena 3585,CABA
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fas fa-envelope mr-3"></i>superiorlapaz@gmail.com
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fas fa-phone mr-3"></i>+ 54-4215-4589
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fas fa-print mr-3"></i>+ 54-11-8547-4589
                            </p>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mb-4">REDES SOCIALES</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p>
                                <a href="#!">FACEBOOK</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#!">INSTAGRAM</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#!">YOUTUBE</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#!">BLOG</a>
                            </p>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2021 Copyright:</div>

    </div>
    <!-- Copyright -->

</div>
